
<div style="float:right;clear:left;">
  <p> Accepted/Verified Post Contributors</p>
  <% @projx.contributors.each do |contributor| %>
    <img src="https://d13yacurqjgara.cloudfront.net/users/177698/screenshots/828493/billgates_1x.png" style="height:40px;width:40px;border-radius:100px;">
  <% end %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @projx.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @projx.content %>
</p>


<% if current_user == @projx.user %>
<%= link_to 'Edit', edit_projx_path(@projx) %> |
<%= link_to 'Back', projxes_path %>
<% else %>
<% end %>

<br />
<hr />

<% if current_user != @projx.user %>
  <% if @projx.contributors.any?{|cr| cr == current_user} %> 
    <%= link_to "Verified", '#', style: 'background:purple;padding:1em;color:white;border-radius:3px;text-decoration:none;' %>
  <% elsif !@projx.contribution_requests.any?{|cr| cr.user_id == current_user.id} %> 
    <%=  link_to "Request", contributor_request_projx_path(@projx), style: 'background:#272B28;padding:1em;color:white;border-radius:3px;text-decoration:none;' %>
  <% else %> 
    <%=  link_to "Pending", '#', style: 'background:blue;padding:1em;color:white;border-radius:3px;text-decoration:none;' %>
  <% end %>
<% end %>
<br />
<br />
<br />
<br />

<hr />

<% if current_user == @projx.user %>
  <% if @projx.contribution_requests.count > 0 %>
    <%=  link_to "New requests", requests_projx_path(@projx), style: 'background:#272B28;padding:1em;color:white;border-radius:3px;text-decoration:none;' %>
  <% elsif @projx.contributions.count > 0 %>
    <%=  link_to "Requests", requests_projx_path(@projx), style: 'background:#272B28;padding:1em;color:white;border-radius:3px;text-decoration:none;' %>
  <% else %>  
    No contribution requests.
  <% end %>
<% end %>
<br />
<br />
<br />